@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f5f5;
}
::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  align-items: center;
}
